In [2]:
import pandas as pd

In [3]:
cars_csv = "cars_database.csv"

In [4]:
cars_data_df = pd.read_csv(cars_csv)
cars_data_df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197

In [14]:
json_file = "car_database.json"
json_cars_df = pd.read_json(json_file, lines=True)
json_cars_df.head()

,_id,Brand,Model,Generation,Modification (Engine),Doors,Power,Maximum speed,Acceleration 0 - 100 km/h,Year of putting into production,...,"Fuel consumption (economy), extra urban - CNG","Fuel consumption (economy), combined - CNG",CNG CO2 emissions,AdBlue tank,Ramp angle,Climb angle,Acceleration 0 - 200 km/h,Average Energy consumption,Acceleration 0 - 300 km/h,200 km/h - 0
0,{'$oid': '5ac440ae603afc1b88c4f83c'},Abarth,124 Spider,124 Spider,1.4 MultiAir (170 Hp) Automatic,2,170 hp/5500 rpm.,229 km/h,6.9 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '5ac440ae603afc1b88c4f83d'},Abarth,124 Spider,124 Spider,1.4 MultiAir (170 Hp),2,170 hp/5500 rpm.,232 km/h,6.8 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '5ac440af603afc1b88c4f83e'},Abarth,595,595C,Turismo 1.4 T-Jet (165 Hp) Automatic,3,165 hp/5000 rpm.,218 km/h,7.4 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '5ac440b0603afc1b88c4f83f'},Abarth,595,595C,Turismo 1.4 T-Jet (165 Hp),3,165 hp/5000 rpm.,218 km/h,7.3 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '5ac440b0603afc1b88c4f840'},Abarth,595,595C,Competizione 1.4 T-Jet (180 Hp) Automatic,3,180 hp/5000 rpm.,225 km/h,6.9 sec,2016 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
new_jsoncars_df = json_cars_df[['Brand', 'Model', 'Acceleration 0 - 100 km/h', "Torque"]].copy()
new_jsoncars_df.head()

    Brand       Model Acceleration 0 - 100 km/h            Torque
0  Abarth  124 Spider                   6.9 sec  250 Nm/2500 rpm.
1  Abarth  124 Spider                   6.8 sec  250 Nm/2500 rpm.
2  Abarth         595                   7.4 sec  230 Nm/3000 rpm.
3  Abarth         595                   7.3 sec  230 Nm/3000 rpm.
4  Abarth         595                   6.9 sec  230 Nm/3000 rpm.

In [32]:
cars_df = new_jsoncars_df.rename(columns={"Brand": "Make","Acceleration 0 - 100 km/h": "Acceleration"}) 
cars_clean_df = cars_df.dropna()
cars_clean_df

         Make       Model Acceleration            Torque
0      Abarth  124 Spider      6.9 sec  250 Nm/2500 rpm.
1      Abarth  124 Spider      6.8 sec  250 Nm/2500 rpm.
2      Abarth         595      7.4 sec  230 Nm/3000 rpm.
3      Abarth         595      7.3 sec  230 Nm/3000 rpm.
4      Abarth         595      6.9 sec  230 Nm/3000 rpm.
...       ...         ...          ...               ...
32837     ZIL         114     13.5 sec  570 Nm/2700 rpm.
32838     ZIL         117       13 sec  570 Nm/2700 rpm.
32839     ZIL        4104       13 sec  610 Nm/2600 rpm.
32840     ZIL        4104       12 sec  608 Nm/2900 rpm.
32841     ZIL        4104       12 sec  608 Nm/2500 rpm.

[22931 rows x 4 columns]

In [34]:
no_dup_cars = cars_clean_df.drop_duplicates(subset=['Make', 'Model'], keep=False)
no_dup_cars

             Make            Model Acceleration             Torque
503    Alfa Romeo  8C Competizione        4 sec   480 Nm/4750 rpm.
645    Alfa Romeo               RZ      7.5 sec   245 Nm/4500 rpm.
681    Alfa Romeo               SZ      7.0 sec   245 Nm/4500 rpm.
845        Alpina       Roadster S      5.3 sec   362 Nm/4800 rpm.
846        Alpina      Roadster V8      5.3 sec   520 Nm/3800 rpm.
...           ...              ...          ...                ...
32795     Zastava              101       16 sec              79 Nm
32834       Zenvo              ST1      3.0 sec  1430 Nm/4500 rpm.
32835       Zenvo              TS1      2.8 sec  1100 Nm/7700 rpm.
32837         ZIL              114     13.5 sec   570 Nm/2700 rpm.
32838         ZIL              117       13 sec   570 Nm/2700 rpm.

[280 rows x 4 columns]